<div ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(20)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Using complex column definition (ng-repeat)
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <p>
                        This is a test for checking whether complex column definitions work.
                    </p>
                    <pre id="trNgGrid_items_update_bug">
                        </pre>
                </div>
                <div class="col-md-7" data-project-markup-to="#trNgGrid_items_update_bug" ng-init="myNgRepeatFields=['id', 'name']">
                    <div>
                        <span class="checkbox" ng-repeat="fieldName in ['id', 'name']">
                            <input type="checkbox" ng-model="myNgRepeatFields[$index]" ng-true-value="{{fieldName}}" ng-false-value="" />
                            {{fieldName}}
                        </span>
                    </div>
                    <table data-tr-ng-grid="" data-items="myItems">
                        <thead>
                            <tr>
                                <th data-ng-repeat="field in myNgRepeatFields" data-field-name="{{field}}" data-ng-if="field"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

